@using portofolio_aspnet_core.Models;

<form id="form-create-project" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <label for="image" class="form-label">Images</label>
            <input class="form-control" type="file" id="image" accept="image/*" multiple>
            <div id="file-previews" class="d-flex flex-wrap gap-2"></div>
        </div>

        <div class="col-lg-6 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class="col-lg-6 mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="url" name="url" id="url" class="form-control">
        </div>
        <div class="col-lg-6 mb-3">
            <label for="members" class="form-label">Members</label>
            <select id="members" class="form-select w-100" name="memberIds" multiple>
                @foreach (var member in ViewBag.Members as List<Member> ?? new List<Member>())
                {
                    <option value="@member.Id">@member.Name</option>
                }
            </select>
        </div>
        <div class="col-lg-6 mb-3">
            <label for="categories" class="form-label">Categories</label>
            <select id="categories" class="form-select w-100" name="categoryIds" multiple>
                @foreach (var category in ViewBag.Categories as List<Category> ?? new List<Category>())
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>
    <div class="d-flex">
        <button class="btn btn-primary ms-auto" type="submit">
            <i class="bi bi-send me-1"></i>
            SUBMIT
        </button>
    </div>
</form>

@section Scripts {
<script>
    $(document).ready(function() {
        var project = JSON.parse(`@Html.Raw(ViewBag.Project)`.replace(/(\r\n|\n|\r)/gm, ""));
        
        $("#content").trumbowyg();
        $("#content").trumbowyg('html', project.Content);

        $("#name").val(project.Name);
        $("#url").val(project.Url);
        $("#description").val(project.Description);

        $("#members").select2({
            theme: "bootstrap-5",
        });
        $("#members").val(project.Members.map(function(m) {
            return m.Id;
        })).trigger("change");
        
        $("#categories").select2({
            theme: "bootstrap-5"
        });
        $("#categories").val(project.Categories.map(function(c) {
            return c.Id
        })).trigger("change");

        var images = [];
        project.ProjectImages.map(async function(image) {
            var file = await fetch(image.Url)
                .then(function(e) {
                    return e.blob();
                })
                .then(function(blob) {
                    return new File([blob], `${image.Id}.jpg`)
                });

            var el = $(`<img src="${image.Url}" alt="image" class="mt-3 file-preview" width="128" height="128"/>`);
            el.data("fileData", file);
            $("#file-previews").append(el);

            el.on("click", function(e) {
                el.remove();
                images.splice(images.indexOf(el.data('fileData')));
            });

            images.push(file);
        });
        $("#image").on("change", function(e) {
            var newImages = [];

            for (var i = 0; i < e.target.files.length; i++) {
                var file = e.target.files[i];
                newImages.push(file);
                images.push(file);
            }

            for (var image of newImages) {
                var el = $(`<img src="${URL.createObjectURL(image)}" alt="image" class="mt-3 file-preview" width="128" height="128"/>`)
                el.data("fileData", image);
                $("#file-previews").append(el);

                el.on("click", function(e) {
                    el.remove();
                    images.splice(images.indexOf(el.data('fileData')));
                }); 
            }
        });

        $("#form-create-project").on("submit", function(e) {
            var _this = e;
            e.preventDefault();

            var formData = new FormData();
            formData.append("name", $("#name").val());
            formData.append("description", $("#description").val());
            formData.append("content", $("#content").val());
            formData.append("url", $("#url").val());
            formData.append("memberIds", $("#members").val());
            formData.append("categoryIds", $("#categories").val());
            for (var image of images) {
                formData.append("images", image);
            }

            var url = '@Url.Action("Update", "Project", new { id = "-1" })';
            url = url.replace("-1", project.Id);

            $.ajax({
                url: url,
                data: formData,
                method: 'POST',
                success: function(data) { 
                    window.location.href = data;
                },
                error: function(data) { 
                    toastr.error(data.responseText, "Failed");
                },
                processData: false,
                contentType: false
            });
        });
    });
</script>
}