@{
    Layout = "_ClientLayout";
}
@model portofolio_aspnet_core.Models.Project;

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>@Model.Name</h1>   
                <p>
                    @if (Model.Categories != null)
                    {
                        @foreach(var category in Model.Categories.Select((value, i) => (value, i)))
                        {
                            @(category.value.Name + (category.i == (Model.Categories.Count - 1) ? "" : ", "))
                        }
                    }
                </p>
                <p style="white-space: pre-line !important;">@Model.Description</p>
                <div id="main-slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            @foreach (var image in Model.ProjectImages ?? new List<ProjectImage>())
                            {
                                <li class="splide__slide">
                                    <img src="@image.Url" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="thumbnail-slider" class="splide">
                    <div class="splide__track splide__track__thumbnails">
                        <ul class="splide__list">
                            @foreach (var image in Model.ProjectImages ?? new List<ProjectImage>())
                            {
                                <li class="splide__slide">
                                    <img src="@image.Url" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sticky-details">
                    <h4>PROJECT DETAILS</h4>
                    <div id="content" style="word-wrap: break-word;"></div>
                    <a href="@Model.Url" target="_blank" class="btn btn-primary">VISIT WEBSITE</a>
                </div>
            </div>
        </div>

        <div class="row mt-3 m-0" style="position: relative">
            <div class="col-md-12" style="padding: 50px;background-color: #eceff2;">
                <div id="member-slider" class="member-splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            @if (Model.Members != null)
                            {
                                @foreach (var member in Model.Members ?? new List<Member>())
                                {
                                    <li class="splide__slide d-flex">
                                        <div class="mx-auto text-center" style="width: 400px;">
                                            <img src="@member.ProfilePicture" class="mb-3" style="border-radius: 50%;width: 128px;height: 128px; object-fit: cover;" />
                                            <div>
                                                <span class="h6">@(member.Description?.Substring(0, 120) + (member.Description?.Length > 120 ? "..." : "") ?? "-")</span>
                                                <p class="text-center mt-3">-@member.Name</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
<script>
    $(document).ready(function() {
        var splide = new Splide('#main-slider', {
            type      : 'fade',
            rewind    : true,
            pagination: false,
            arrows    : false,
            fixedHeight: 546,
            cover: true
        });
        var thumbnail = new Splide('#thumbnail-slider', {
            fixedWidth  : 100,
            fixedHeight : 60,
            gap         : 10,
            rewind      : true,
            pagination  : false,
            cover       : true,
            isNavigation: true,
            breakpoints : {
            600: {
                fixedWidth : 60,
                fixedHeight: 44,
            },
            },
        });
        splide.sync(thumbnail);
        splide.mount();
        thumbnail.mount();

        var content = `@Html.Raw(Model != null ? Model.Content : "")`.replace(/(\r\n|\n|\r)/gm, "");
        $("#content").html(content);

        new Splide('#member-slider', {
            rewind      : true,
            arrows      : false,
            perPage     : 1
        }).mount();
    });
</script>
}