@model List<portofolio_aspnet_core.Models.Category>

<div class="d-flex">
    <a href='@Url.Action("Create", "Category")' class="btn btn-primary my-3 ms-auto">
        <i class="bi bi-plus-square me-1"></i>
        CREATE CATEGORY
    </a>
</div>

@if (Model is not null)
{
    <div class="table-responsive">
        <table id="table-categories" class="table table-hover w-100">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var c in Model.Select((value, i) => (value, i))) 
                {
                    <tr>
                        <td>@(c.i + 1)</td>
                        <td>@c.value.Name</td>
                        <td class="d-flex gap-2">
                            <a href='@Url.Action("Edit", "Category", new { id = @c.value.Id })' class="btn btn-primary">
                                <i class="bi bi-pencil-square me-1"></i>
                                EDIT
                            </a>
                            <form method="post" action='@Url.Action("Delete", "Category", new { id = @c.value.Id })' class="delete-form">
                                <button class="btn btn-danger" type="submit">
                                    <i class="bi bi-trash me-1"></i>
                                    DELETE
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
<script>
    $(document).ready(function() {
        $("#table-categories").DataTable({
            columns: [
                {
                    width: "5%"
                },
                {

                },
                {
                    orderable: false,
                    width: "15%"
                }
            ]
        });
    });
</script>
}