@model List<portofolio_aspnet_core.Models.Member>

<div class="d-flex">
    <a href='@Url.Action("Create", "Member")' class="btn btn-primary my-3 ms-auto">
        <i class="bi bi-plus-square me-1"></i>
        CREATE MEMBER
    </a>
</div>

@if (Model is not null)
{
    <div class="table-responsive">
        <table id="table-members" class="table table-hover w-100">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var c in Model.Select((value, i) => (value, i))) 
                {
                    <tr>
                        <td>@(c.i + 1)</td>
                        <td class="text-center">
                            @if (!string.IsNullOrEmpty(c.value.ProfilePicture))
                            {
                                <img src="@c.value.ProfilePicture" width="32" height="32" />
                                <br />
                            }
                            @c.value.Name
                        </td>
                        <td>
                            @(c.value?.Description?.Substring(0, 231) + "..." ?? "-")
                        </td>
                        <td>
                            <div class="d-flex gap-2 h-100">
                                <a href='@Url.Action("Edit", "Member", new { id = @c.value?.Id })' class="btn btn-primary">
                                    <i class="bi bi-pencil-square me-1"></i>
                                    EDIT
                                </a>
                                <form method="post" action='@Url.Action("Delete", "Member", new { id = @c.value.Id })' class="delete-form">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash me-1"></i>
                                        DELETE
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
<script>
    $(document).ready(function() {
        $("#table-members").DataTable({
            columns: [
                {
                    width: "5%"
                },
                {
                    width: "12.5%"
                },
                {

                },
                {
                    orderable: false,
                    width: "16.5%"
                }
            ]
        });
    });
</script>
}